
.img-1{
    position:absolute;
    height:200px;
    width:200px;
    top: 30px;
    left : 30px;
    border-style: solid;
    z-index: -1;
  }
  
  .img-1:hover{
    border-style: solid;
    border-color: blue;
    z-index: 1;
}

    .img-1:hover + .img-2{
        opacity: 0;
    }
    .img-1:hover + .img-2 + .img-3{
        opacity: 0;
    }
    .img-1:hover + .img-2 + .img-3 + .img-4{
        opacity: 0;
    }
    .img-1:hover + .img-2 + .img-3 + .img-4 + .img-5{
        opacity: 0;
    }

  .img-2
  {
    position:absolute;
    height:200px;
    width:200px;
    z-index: -1;
    top: 80px;
    left : 80px;
    border-style: solid;
    z-index: -1;
  }

  .img-2:hover{
    border-style: solid;
    border-color: blue;
    z-index: 1;
}

 .img-2:hover + .img-3{
    opacity: 0;
 }

 .img-2:hover + .img-3 + .img-4{
    opacity: 0;
 }

.img-2:hover + .img-3 +.img-4 +  .img-5{
    opacity: 0;
}

  .img-3{
    height:200px;
    width:200px;
    position:absolute;
    top: 130px;
    left : 130px;
    border-style: solid;
    z-index: -1;
  }

  .img-3:hover{
    border-style: solid;
    border-color: rgb(55, 255, 0);
    z-index: 1;
}

.img-3:hover + .img-4 {
    opacity: 0;
}

.img-3:hover + .img-4 + .img-5{
    opacity: 0;
}

  .img-4{
    height:200px;
    width:200px;
    position:absolute;
    top: 180px;
    left : 180px;
    border-style: solid;
    z-index: -1;
  }

  .img-4:hover{
    border-style: solid;
    border-color: rgb(245, 2, 2);
    z-index: 1;
}

.img-4:hover + .img-5{
    opacity: 0;
}

  .img-5{
    height:200px;
    width:200px;
    position:absolute;
    top: 230px;
    left : 230px;z-index: -1;
    border-style: solid;
  }

  .img-5:hover{
    border-style: solid;
    border-color:aqua;
    z-index: 1;
}


